@charset "utf=8";


/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}





body { 
    background-color: #eeeeee;
 
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color:darkgreen;
    margin: 30px;
}




.contents{
    max-width: 960px;
    margin:0 auto;
    
}


.wrap{
    display: flex;
    justify-content: space-between;

}


.card-list{
    background-color: white;
    width: 30%;
}

.photo img{
    margin-bottom: 10px;

}


h2{
    margin-left: 8px;
    border-left: solid  darkgreen;
    border-width: 8px;
    padding: 5px;
    padding-left:4px;
    color:darkgreen;
    font-size: 20px;
    font-weight: bold;
    
 }

 
 h3{
    font-size: 15px;
    font-weight: lighter;
    line-height:150%;
    padding: 8px;


 }


 @media screen and (max-width: 400px)
 {

    .photo img{
        width: 100%;
    
    }


    .wrap{
        margin: auto;
        margin: 10px;
        display: block 
}

   .card-list{
    width: 100%;
    margin-bottom: 20px;



}

   }
          

    

 