
@charset"UTF-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}


.wrap {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    font-size:20px;
    margin: 30px;

}

.nav-links{
    display: flex;
    margin-top: 25px;
}


.nav-links li {
    list-style: none;
    padding: 10px 15px;
    border-right: 1px solid black;
    margin-top: 10px;
    
}

.nav-links li:last-child{
    border-right:none;
}

@media screen and (max-width:767px){
    
.wrap{    display:block;
}

.logo {
        margin:20px auto 0px 15px;
        margin-top:15px;
        font-size:20px;
    
    }

.nav-links{
    display:block;
    padding:0 10px;

}
.nav-links li {
    border-right: none;
    border-bottom:1px solid black;
    width: 600px;
}

}