@charset "UTF-8";


.wrap1{
    max-width: 960px;
    margin:0 auto;
    display: flex ;
    justify-content: space-between;
}

.wrap1 div{
    background: #0000ff;
    width: 31.25%;
    height: 300px;
    margin-bottom:50px;
}

.wrap2{
    max-width: 960px;
    margin:0 auto;
    display: flex ;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrap2 div{
    background: red;
    width: 31.25%;
    height: 300px;
    margin-bottom: 50px;
}